{% for comment in comments %}
<div class="well">
    <p>
        <label>Author:</label> {{ comment.getAuthor() }} /
        <time>{{ comment.getCreatedAt() | date('Y-m-d H:i:s') }}</time>
        {% if comment.user.id == loggedAccountId %}
        /
        <a href="{{ updateUri(comment) }}">Edit</a>
        <a href="{{ deleteUri(comment) }}">Delete</a>
        {% endif %}
    </p>
    {{ comment.getContent() }}

    <div class="file">
    {% for file in comment.getAttachemntFile() %}
        <a href="{{ readUri(file) }}" class="btn btn-default btn-sm">{{ file.getName() }}</a>
    {% endfor %}
    </div>
</div>
<hr class="hidden" />
{% endfor %}
