{% for comment in comments %}
<div class="well">
    <p>
        <label>Author:</label> {{ comment.getAuthor() }} /
        <time>{{ comment.getCreatedAt() | date('Y-m-d H:i:s') }}</time> /
        <a href="{{ url('/comment/' ~ comment.getId() ~ '/edit') }}">Edit</a>
        <a href="{{ url('/comment/' ~ comment.getId() ~ '/delete') }}">Delete</a>
    </p>
    {{ comment.getContent() }}

    <div class="file">
    {% for file in comment.getAttachemntFile() %}
        <a href="{{ url('/file/' ~ file.getId()) }}" class="btn btn-default btn-sm">{{ file.getName() }}</a>
    {% endfor %}
    </div>
</div>
<hr class="hidden" />
{% endfor %}
