{% extends comment.getId() ? 'default/layout.twig' : 'default/empty.twig' %}

{% block body %}

{% if comment.getId() %}
<h2 class="page-header">Editing comment</h2>
{% endif %}

<form method="POST" action="{{ comment.getId() ? '' : url('/post/' ~ post.getId() ~ '/comment') }}" enctype="multipart/form-data">
<fieldset>
    {% if not comment.getId() %}
    <legend>Writing comment</legend>
    {% endif %}

    {% if loggedAccountId is empty %}
    <div class="row">
    <div class="form-group col-sm-6">
        <label>Author</label>
        <input type="text" name="author" value="{{ comment.getAuthor() | escape }}" class="form-control" />
    </div>
    <div class="form-group col-sm-6">
        <label>Password</label>
        <input type="password" name="password" value="" class="form-control" />
    </div>
    </div>
    {% endif %}

    <div class="form-group">
        <label>Content</label>
        <textarea name="content" rows="10" cols="80" class="form-control">{{ comment.getContent() | escape }}</textarea>
    </div>

    <div class="form-group {{ comment ? 'well' : '' }}">
        <label>Attachment</label>
        <div class="{{ comment ? '' : 'panel panel-default panel-body' }}">
        <ul>
            {% for file in comment.getAttachemntFile() %}
            <li><label class="btn btn-xs btn-danger"><input type="checkbox" name="delete-file[{{ file.getId() }}]" /> Delete: {{ file.getName() }}</label></li>
            {% endfor %}
        </ul>

        <input type="file" name="file[]" />
        <input type="file" name="file[]" />
        </div>
    </div>

    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary" />
        {% if comment %}
            <a href="{{ url('/post/' ~ comment.getPost().getId()) }}" class="btn btn-danger">Cancel</a>
        {% endif %}
    </div>
</fieldset>
</form>
{% endblock %}
