{% extends file(comment.getId() ? 'layout' : 'empty') %}

{% block body %}

{% if comment.getId() %}
<h2 class="page-header">Editing comment</h2>
{% endif %}

<form method="POST" action="{{ post ? createUri(post) : '' }}" enctype="multipart/form-data">
<fieldset>
    {% if not comment.getId() %}
    <legend><label for="comment-write-textarea" class="necessary-info">Writing comment<span class="sr-only">(necessary)</span></label></legend>
    {% endif %}

    <div class="form-group">
        <textarea name="content" id="comment-write-textarea" rows="10" cols="80" class="form-control" required="required">{{ comment.getContent() | escape }}</textarea>
        {{ readyEditor('comment-write-textarea') | raw }}
    </div>

    <div class="form-group {{ comment ? 'well' : '' }}">
        {% if comment.getAttachemntFiles()|length %}
            <div>
                <label id="attached-file-label"><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span> Attached files <span class="badge">{{ comment.getAttachemntFiles() | length }}</span> <span class="caret"></span></label>
                <ul class="list-group attachments" id="attached-file">
                    {% for file in comment.getAttachemntFiles() %}
                        <li class="list-group-item">
                            <label for="delete-file[{{ file.getId() }}]" title="When checked, this file will be deleted." class="block-input">
                                <input type="checkbox" id="delete-file[{{ file.getId() }}]" name="delete-file[{{ file.getId() }}]" />
                                <span>{{ file.getName() }}</span>
                            </label>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <div>
            <label id="attach-input-label"><span class="glyphicon glyphicon-open-file" aria-hidden="true"></span> Attachment  <span class="caret"></span></label>
            <ul class="list-group attachments" id="attach-input">
                <li class="list-group-item"><input type="file" name="file[]" class="block-input" /></li>
                <li class="list-group-item"><input type="file" name="file[]" class="block-input" /></li>
            </ul>
        </div>

        <script type="text/javascript">
            $(document).ready(function() {
                $('#attached-file-label, #attach-input-label').on('click', function() {
                    $(this).next().collapse('toggle');

                    if($(this).hasClass('dropup')) {
                        $(this).removeClass('dropup');
                    } else {
                        $(this).addClass('dropup');
                    }
                });
            });

            $('#attached-file, #attach-input').collapse('hide');
        </script>
    </div>

    {% if loggedAccountId is empty %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Author Information</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="input-group">
                            <label for="comment-input-author" class="input-group-addon necessary-info"><span>Author <span class="sr-only">(necessary)</span></span></label>
                            <input type="text" name="author" id="comment-input-author" class="form-control" value="{{ comment.getAuthor() | escape }}" aria-describedby="sizing-addon2" required="required" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <label for="comment-input-password" class="input-group-addon necessary-info"><span>Password <span class="sr-only">(necessary)</span></span></label>
                            <input type="password" name="password" id="comment-input-password" class="form-control" value="" aria-describedby="sizing-addon2" required="required" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="form-group pull-right">
        {% if comment %}
            <a href="{{ readUri(comment.getPost()) }}" class="btn btn-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</a>
        {% endif %}
        <button type="submit" data-loading-text="Please Wait…" autocomplete="off" class="btn btn-primary"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Submit</button>
        <script type="text/javascript">
            $('form').submit(function(event) {
                $('button:last').button('loading');
            });
        </script>
    </div>
</fieldset>
</form>
{% endblock %}
