{% extends file(comment.getId() ? 'layout' : 'empty') %}

{% block body %}

{% if comment.getId() %}
<h2 class="page-header">Editing comment</h2>
{% endif %}

<form method="POST" action="{{ post ? createUri(post) : '' }}" enctype="multipart/form-data">
<fieldset>
    {% if not comment.getId() %}
    <legend>Writing comment</legend>
    {% endif %}

    {% if loggedAccountId is empty %}
    <div class="row">
    <div class="form-group col-sm-6">
        <label>Author</label>
        <input type="text" name="author" value="{{ comment.getAuthor() | escape }}" class="form-control" />
    </div>
    <div class="form-group col-sm-6">
        <label>Password</label>
        <input type="password" name="password" value="" class="form-control" />
    </div>
    </div>
    {% endif %}

    <div class="form-group">
        <label>Content</label>
        <textarea name="content" id="comment-write-textarea" rows="10" cols="80" class="form-control">{{ comment.getContent() | escape }}</textarea>
        {{ readyEditor('comment-write-textarea') | raw }}
    </div>

    <div class="form-group {{ comment ? 'well' : '' }}">
        <label>Attachment</label>
        <div class="{{ comment ? '' : 'panel panel-default panel-body' }}">
        <ul>
            {% for file in comment.getAttachemntFile() %}
            <li><label class="btn btn-xs btn-danger"><input type="checkbox" name="delete-file[{{ file.getId() }}]" /> Delete: {{ file.getName() }}</label></li>
            {% endfor %}
        </ul>

        <input type="file" name="file[]" />
        <input type="file" name="file[]" />
        </div>
    </div>

    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary" />
        {% if comment %}
            <a href="{{ readUri(comment.getPost()) }}" class="btn btn-danger">Cancel</a>
        {% endif %}
    </div>
</fieldset>
</form>
{% endblock %}
