{% extends 'default/layout.twig' %}

{% block body %}
<article>
<h2 class="page-header">{{ post.getSubject() }}</h2>

<ul class="postInfo well list-unstyled">
    <li><span>Author:</span> {{ post.getAuthor() }}</li>
    <li><span>Time:</span> {{ post.getCreatedAt() | date('Y-M-d') }}</li>
</ul>

<div class="content">
{{
    post.getContent
    | escape
    | nl2br
}}
</div>

<div class="file">
{% for file in post.getAttachemntFile() %}
    <a href="{{ url('/file/' ~ file.getId()) }}" class="btn btn-default btn-sm">{{ file.getName() }}</a>
{% endfor %}
</div>

</article>

<nav class="action">
    <a class="btn btn-default" href="{{ url(post.getBoard().getName() ) }}">List</a>
    <a class="btn btn-default" href="{{ url('/post/' ~ post.getId() ~ '/edit' ) }}">Edit</a>
</nav>

<section class="comment">
<h3>Comments</h3>

{% if comments is empty %}
    <p>No comment.</p>
{% else %}
    {% include 'default/comment.twig' %}
{% endif %}

<div class="well">
{{ include ('default/commentForm.twig') }}
</div>
</section>

<nav class="action">
    <a class="btn btn-default" href="{{ url(post.getBoard().getName() ) }}">List</a>
    <a class="btn btn-default" href="{{ url('/post/' ~ post.getId() ~ '/edit' ) }}">Edit</a>
</nav>
{% endblock %}
