{% extends file('layout') %}

{% block body %}
<h2 class="page-header">{{ post ? 'Edit' : 'Write'}}</h2>

<form method="POST" enctype="multipart/form-data">
<fieldset>
    <div class="form-group">
        <label for="subject">Subject</label>
        <input type="text" name="subject" value="{{ post.getSubject() | escape }}" class="form-control" />
    </div>

    {% if loggedAccountId is empty %}
    <div class="form-group">
        <label for="author">Author</label>
        <input type="text" name="author" value="{{ post.getAuthor() | escape }}" class="form-control" />
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" value="" class="form-control" />
    </div>
    {% endif %}

    <div class="form-group">
        <label for="content">Content</label>
        <textarea name="content" rows="10" cols="80" class="form-control">{{ post.getContent() | escape }}</textarea>
    </div>
    <div class="form-group well">
        <label>Attachment</label>
        <ul>
            {% for file in post.getAttachemntFile() %}
            <li><label class="btn btn-xs btn-danger"><input type="checkbox" name="delete-file[{{ file.getId() }}]" /> Delete: {{ file.getName() }}</label></li>
            {% endfor %}
        </ul>

        <input type="file" name="file[]" />
        <input type="file" name="file[]" />
    </div>
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary" />
        <a href="{{ readUri(post ?: board) }}" class="btn btn-danger">Cancel</a>
    </div>

</fieldset>
</form>
{% endblock %}
