{% extends file('layout') %}

{% block body %}
<h2 class="page-header">{{ post ? 'Edit' : 'Write'}}</h2>

<form action="{{ action }}" method="POST" enctype="multipart/form-data">
<fieldset>
    <div class="form-group">
        <label for="subject" class="necessary-info">Subject <span class="sr-only">(necessary)</span></label>
        <input type="text" name="subject" id="subject" value="{{ post.getSubject() | escape }}" class="form-control" required />
    </div>

    <div class="form-group">
        <label for="posting-textarea" class="necessary-info">Content <span class="sr-only">(necessary)</span></label>
        <textarea name="content" id="posting-textarea" rows="10" cols="80" class="form-control">{{ post.getContent() | escape }}</textarea>
        {{ readyEditor('posting-textarea') | raw }}
    </div>
    <div class="form-group well attachment-well">
        {% if post.getAttachemntFile() | length %}
        <div>
            <label id="attached-file-label"><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span> Attached files <span class="badge">{{ post.getAttachemntFile() | length }}</span> <span class="caret"></span></label>
            <ul class="list-group attachments" id="attached-file">
                {% for file in post.getAttachemntFile() %}
                    <li class="list-group-item">
                        <label for="delete-file[{{ file.getId() }}]" title="When checked, this file will be deleted." class="block-input">
                            <input type="checkbox" id="delete-file[{{ file.getId() }}]" name="delete-file[{{ file.getId() }}]" />
                            <span>{{ file.getName() }}</span>
                        </label>
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <div>
        <label id="attach-input-label"><span class="glyphicon glyphicon-open-file" aria-hidden="true"></span> Attachment  <span class="caret"></span></label>
        <ul class="list-group attachments" id="attach-input">
            <li class="list-group-item"><input type="file" name="file[]" class="block-input" /></li>
            <li class="list-group-item"><input type="file" name="file[]" class="block-input" /></li>
        </ul>
        </div>

        <script type="text/javascript">
            $(document).ready(function() {
                $('#attached-file-label, #attach-input-label').on('click', function() {
                    $(this).next().collapse('toggle');

                    if($(this).hasClass('dropup')) {
                        $(this).removeClass('dropup');
                    } else {
                        $(this).addClass('dropup');
                    }
                });
            });

            $('#attached-file, #attach-input').collapse('hide');
        </script>
    </div>

    {% if loggedAccountId is empty %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Author Information</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="input-group">
                            <label for="author" class="input-group-addon necessary-info"><span>Author <span class="sr-only">(necessary)</span></span></label>
                            <input type="text" name="author" id="author" class="form-control" value="{{ post.getAuthor() | escape }}" aria-describedby="sizing-addon2" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <label for="password" class="input-group-addon necessary-info"><span>Password <span class="sr-only">(necessary)</span></span></label>
                            <input type="password" name="password" id="password" class="form-control" value="" aria-describedby="sizing-addon2" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="form-group pull-right">
        <a href="{{ readUri(post ?: board) }}" class="btn btn-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>  Cancel</a>
        <button type="submit" data-loading-text="Please Wait…" autocomplete="off" class="btn btn-primary"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Submit</button>
    </div>

    <script type="text/javascript">
        $('form').submit(function(event) {
            $('button:last').button('loading');
        });
    </script>

</fieldset>
</form>
{% endblock %}
