{% extends file('layout') %}

{% block body %}
<h2 class="page-header">Posts <small> / {{ board.getTitle() }}</small></h2>

<table class="table table-hover">
    <thead>
    <tr>
        <th class="no">No.</th>
        <th class="subject">Subject</th>
        <th class="author">Author</th>
        <th class="time">Time</th>
    </tr>
    </thead>
    <tbody>
    {% for post in posts %}
    <tr>
        <td class="no">{{ post.getId() }}</td>
        <td class="subject"><a href="{{ readUri(post) }}">{{ post.getSubject() }}</a></td>
        <td class="author">{{ post.getAuthor() }}</td>
        <td class="time"><time datetime="{{ post.getCreatedAt() | date('c') }}">{{ post.getCreatedAt() | date('Y-M-d') }}</time></td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<div class="pager">
    {{ pager|raw }}
</div>

<a href="{{ createUri(board) }}" class="btn btn-default">Write</a>
{% endblock %}
