{% extends file('layout') %}

{% block body %}
<h2 class="page-header">{{ post ? 'Edit' : 'Write'}}</h2>

<form method="POST" enctype="multipart/form-data">
<fieldset>
    <div class="form-group">
        <label for="subject">Subject</label>
        <input type="text" name="subject" id="subject" value="{{ post.getSubject() | escape }}" class="form-control" />
    </div>

    <div class="form-group">
        <label for="posting-textarea" class="necessary-info">Content <span class="sr-only">necessary</span></label>
        <textarea name="content" id="posting-textarea" rows="10" cols="80" class="form-control">{{ post.getContent() | escape }}</textarea>
        {{ readyEditor('posting-textarea') | raw }}
    </div>
    <div class="form-group well">
        {% if comment.getAttachemntFile()|length %}
        <label><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Attachment present</label>
        <ul class="list-group">
            {% for file in post.getAttachemntFile() %}
                <li class="list-group-item clearfix">
                    <label for="delete-file[{{ file.getId() }}]">{{ file.getName() }}</label> <input type="checkbox" id="delete-file[{{ file.getId() }}]" class="navbar-right" name="delete-file[{{ file.getId() }}]" />
                </li>
            {% endfor %}
        </ul>
        {% endif %}

        <label><span class="glyphicon glyphicon-open-file" aria-hidden="true"></span> Attachment</label>
        <ul class="list-group">
            <li class="list-group-item"><input type="file" name="file[]" /></li>
            <li class="list-group-item"><input type="file" name="file[]" /></li>
        </ul>
    </div>

    {% if loggedAccountId is empty %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Author Information</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="input-group">
                            <label for="author" class="input-group-addon necessary-info"><span>Author <span class="sr-only">(necessary)</span></span></label>
                            <input type="text" name="author" id="author" class="form-control" value="{{ post.getAuthor() | escape }}" aria-describedby="sizing-addon2" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <label for="password" class="input-group-addon necessary-info"><span>Password <span class="sr-only">(necessary)</span></span></label>
                            <input type="password" name="password" id="password" class="form-control" value="" aria-describedby="sizing-addon2" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="form-group pull-right">
        <a href="{{ readUri(post ?: board) }}" class="btn btn-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>  Cancel</a>
        <button type="submit" data-loading-text="Please Wait…" class="btn btn-primary"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Submit</button>
    </div>

</fieldset>
</form>
{% endblock %}
